.funktionin {
  margin-top: 100px;
}
.funktionin button {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 30px;
}

.checkboxx-container {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.checkboxx-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxx-container label {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid gray;
  margin-top: 2px;
}

.checkboxx-container input:checked ~ label {
  background-color: rgba(1, 233, 148, 1);
  border-color: rgba(1, 233, 148, 1);
}

.checkboxx-container label::after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxx-container input:checked ~ label::after {
  display: block;
}
.dropdown-buttonss.checked {
  border-color: rgba(1, 233, 148, 1);
}

.checkboxx-container label::after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.dropdown-buttonss {
  /* display: flex; */
  align-items: center;
  width: 100%;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 20px;
  margin: 10px 0px 20px 0px;
}

.dropdown-buttonss span {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
