.nav{
  border-bottom: 1px solid #EFEFEF;
}
.nav-main {
  width: 100%;
  height: 72px;
  background: #ffffff;
  display:flex;
  justify-content: end;
  border-bottom: 1px solid #EFEFEF;
  margin-right: 100px;
}
.nav-inner {
  display: flex;
  align-items: center;
}
.nav-inner img {
  width: 25px;
}
.nav-inner p {
  margin: 0px 0px 0px 20px;
  font-size: 16px;
  color: #323232;
}
.nav-inner2 {
  display: flex;
  align-items: center;
}

.nav-inner2 img {
  width: 25px;
  margin: 0px 0px 0px 60px;
}
.nav-inner2 p {
  margin: 0px 0px 0px 15px;
  font-size: 14px;
  color: #323232;
}

.nav-main button{
    margin: 0px 0px 0px 20px;
    border: none;
    background: none;
}